/*  your css code here. If applicable */
.hero {
    display:flex;
	flex:1;
    justify-content:center;
    align-items:center;
    
}

.hero-image {
    width: 350px;
    height: 200px;
    object-fit: cover;
	flex:3;
}
.explore-now-btn {
    
    padding: 10px;
    background-color: rgb(255,40,39);
    color: white; 
	border-radius: 5px;
	text-decoration:none;
}
  